*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu{
  padding: 0 10px 30px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  grid-gap: 20px 40px;
}

.heading{
  background-color: #cb202d;
  color: #fff;
  margin-bottom: 30px;
  padding: 30px 0;
  grid-column: 1/-1;
  text-align: center;
}

.heading>h1{
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.heading>h3{
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 5px;
}

.food-items{
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.food-items img{
  position: relative;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

h1{
  grid-column: 1/-1;
  text-align: center;
}

.details{
  padding: 20px 10px;
  display: grid;
  grid-template-rows: auto 1fr 50px;
  grid-row-gap: 15px;
}

.details-sub{
  display: grid;
  grid-template-columns: auto auto;
}

.details-sub>h5{
  font-weight: 600;
  font-size: 18px;
}

.price{
  text-align: right;
  font-size: 18px;
}

.details>p{
  color: #6f6f6f;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  align-self: stretch;
}

.details>button{
  background-color:#cb202d;
  border:none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  width: 180px;
}

.cartButton{
  position: fixed;
  height: 100px;
  width: 100px;
  bottom: 0px;
  right: 10px;
  background-color: #cb202d;
  color: #fff;
  border: none;
  border-radius: 100%;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
}

#modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#modal-content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0
   15px rgba(0, 0, 0, 0.1);
}

#clearCart{
  background-color:#cb202d;
  border:none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  width: 180px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
